// Colors
$maroon: #80001E !default;
$yellow-000: #fff5e6 !default;
$yellow-100: #fddaa3 !default;
$yellow-200: #faa319 !default;
$yellow-300: #ca5e1d !default;
$grey-000: #f3f3f3 !default;
$grey-100: #999 !default;
$grey-200: #565658 !default;
$grey-300: #262626 !default;
$teal-000: #809aa7 !default;
$teal-100: #6a90a3 !default;
$teal-200: #004161 !default;
$teal-300: #023650 !default;
$purple-000: #7253ed !default;
$purple-100: #5e41d0 !default;
$purple-200: #4e26af !default;
$purple-300: #381885 !default;

// Use of colors
$link_color: $teal-200;
$nav-child-link-color: $maroon;
$btn-primary-color: $grey-300;
$base-button-color: $maroon;
